{% extends "layout.html" %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
        <div class="article-metadata">
        	<label for={{post.summoner_name}} class="label">Summoner Name</label>
            <a class="mr-2" href="#">{{post.summoner_name}}</a>
        </div>
        <label for={{post.level}} class="label">Level</label>
        <p class="article-content">{{ post.level }}</p>
    </div>
</div>
</main>
{% endblock content %}

